
body {
    margin: 0;
    
}

a {
    color: rgb(41, 128, 185);
    font-size: 25px;
    font-weight: bold;
    /* 클릭시 색깔 변화 밑줄 안나옴 */
    text-decoration: none;
    text-align-last: center;
    
}

h1 {
    color:rgb(41, 128, 185);;
    font-weight: bold;
    
    font-size: 55px;
    text-align: left;
    margin: 0;
    padding: 20px;
    height:125px;
}
h2{
    
    font-size:35px;
    /* 글자 굵기 */
    font-weight: bold;
    margin:0;
}
h3{
    color:rgb(41, 128, 185);
    font-size:30px;
    /* 글자 굵기 */
    font-weight: bold;
    
    margin: 0;
}
/* 헤더 설정 */
.navbar{
    /* 한줄로 보여줌 */
    display: flex;
    /*간격을 조절해줌 space-betwwen  */
    justify-content: space-between;
    /* 수직 정렬 */
    align-items: center;
    /* 배경컬러 설정 */
    height:120px;
    margin:0;
    
    
}
.navbar__menu{
    display:flex;
    /* 리스트의 스타일을 없애줌 */
    list-style: none;
    padding-left: 0;
    font-weight:bold;
    
}
.navbar__menu li{
    padding:8px 12px;
    justify-content: space-between;
}
.navbar__menu li:hover{
    background-color:  rgb(224, 224, 224);
    /* 모서리를 둥글게 조절 */
    border-radius: 4px;
}
.navbar__toggleBtn{
    display:none;
    position:absolute;
    right: 32px;
    font-size: 50px;
    color:rgb(41, 128, 185);
    padding:0;
    
   
}
/* 드롭박스*/
.dropdown{
    /* 리스트 언더바, 클릭했던 페이지 색상 변경 X  */
    list-style:none;
    height:110px;
    
    
    margin : 0; 
    background-color: rgb(41, 128, 185);
    padding:0;
    
  
}
/* 드롭박스 리스트 */
.dropdown li{
    float: left;

    position:relative;
    margin:5px 30px;
    padding: 0;
    
}
/* 드롭박스 리스트 a 태그*/
.dropdown li a {
    display:block;
    
    font-weight: bold;
    font-size:18px;
    padding: 7px 8px;
    margin:0;
    color:rgb(41, 128, 185);
   
    text-decoration: none;
    text-shadow:0 1px 1px rgba(0,0,0,0.3);
   
}

/* 드롭박스 언오더리스트 설정 */
.dropdown ul{
    
    list-style: none;
    margin:0;
    padding:0;
    
    left:0;
    top:0px;
    width:100x;
    text-align: left;

}
/* 드롭박스 언오더리스트 리스트 설정 */
.dropdown ul li{
    background:rgb(224, 224, 224);
    float:none;
    margin:0;
    padding:0;
   display: none;
}
/* 드롭박스 마우스 올렸을 때 효과 */
.dropdown li:hover> a{
    
    color:white;
    margin:0;
    padding:5px;
    display: block;
   }
   
.dropdown ul li:hover a{
    background-color:rgb(224, 224, 224);
   
}

.dropdown li:hover ul{
    opacity :1;
    
}
.dropdown li:hover ul li{
    height:35px;
    overflow:visible;
    padding: 0;
    display:block;
}

ul{
    list-style: none;
    padding : 0;
}

footer {
    
    position: absolute;
    height: 60px;
    width: 100%;
    padding: 0 25px;
    line-height: 60px;
    color: white;
    font-weight: bold;
    border-top: 1px solid #dee5e7;
    background-color:black;
  }
  
.section1 h1{
    text-align: center;
}
/* 유투브 동영상 화면 비율에 따라 크기 조절 */
.video-list ul li {
    position: relative;
    padding-bottom: 55%;
    overflow: hidden;
  }
  
  .video-list ul li iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  /* 화면 사이즈 미디어 쿼리 설정  */
  @media screen and (max-width: 768px){
    /* 창이 작아지면 메뉴목록이 밑으로 내려가게 하기 */
   
    h1{
    padding: 6px;
    
        
    }
    .navbar{
            /* row에서 colum으로 바꿈 */
            flex-direction: column;
            /* 왼쪽으로 정렬 */
            align-items: flex-start;
           padding: px 24px;
           height: 100px;
           
          
        }
       
        .navbar__menu{
            display: none;
            flex-direction: column;
            /* 메뉴 중간 정렬 */
            align-items: center;
            /* 너비조절로 중간 정렬 */
            width:100%;
        }
        /* 메뉴리스트 마우스호버 영역 넓어짐 */
        .navbar__menu li{
            /* 너비 지정하면 자동으로 왼쪽으로감 */
    
            width: 100%;
            /* 다시 조절 */
            text-align:center;
        }
        .dropdown  {
            display:none;
           
        }
        .dropdown li {
            display:none;
            margin:0;
            padding:0;
            
        }
        
        /* 크기가 768보다 크면 사라짐 */
        .navbar__toggleBtn{
            display:block;
            
        }
        .navbar__menu.active        {
            display: flex;
        }
        #section1 {
          display:none;
        }
    }